
$green1: #ed1b24;
$green2: #ed1b24;
$green3: #ed1b24;
$red: #ed1b24;
$red2: #851216;
$red3: #2c0607;
$blue: #2c3193;
$yellow1: #2c3193;

$pal1: #74bc44;
$pal2: #fab715;
$pal3: #1B1918;
$pal4: #4E6835;
$pal5: #9A7728; 