
$green1: #ed1b24;
$green2: #ed1b24;
$green3: #ed1b24;
// $red: #990000;
$red: #ed1b24;
$red2: #851216;
$red3: #2c0607;
// $blue: #000099;
$blue: #2c3193;
$yellow1: #2c3193;

$col1: #2A92D1;
$col2: #273C74;
$col3: #353B48;
$col4: #2E3640;

