@import "variables.scss";

.mainwrapper{
    min-height: 70vh;
    // background: url(/images/patterns/pattern1.png);
    margin-bottom: 50px;
}

.top-band{
    height: 100px;
    background: url(/images/tiens.png);
    background-position: center center;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #97d077cf;
    }
}
.innerContainer{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    padding: 20px 10px;
    background: rgb(249, 249, 249);
}
.category{
    margin-bottom: 20px;
    h3{
        text-align: left !important;
        margin-bottom: 15px;
        text-transform: capitalize;
        border-bottom: 2px solid $green1;
        svg{
            color: $yellow1;
        }
    }
    p{
        margin-bottom: 15px;
    }
    h6{
        margin-bottom: 15px;
    }
    .items-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
        grid-gap: 10px;
        @media only screen and (max-width: 751px){
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)) !important;
            .prod-inner{
                flex-direction: column !important;
            }
        }
        @media only screen and (max-width: 620px){
            grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)) !important;
            .prod-inner{
                // flex-direction: column;
                margin: 0 auto;
            }
        }
        li{
            .prod-inner{
                display: flex;
                // max-width: 410px;
                padding: 10px;
                max-width: 450px;
                    // margin: 0 auto;
                background: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                transition: all 0.25s;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    transition: all 0.25s;
                }
            }
            .prod-img{

                .prodi-wrapper{
                    width: 125px;
                    margin: 0 auto;
                    img{
    
                    }
                }
            }
            .prod-text{
                padding: 0 10px;
                h5{
                    color: #85cd7f;
                    margin-bottom: 10px;
                    text-decoration: underline;
                }
                h6{
                    margin-bottom: 15px;
                    font-weight: 600;
                }
                p{
                    margin-bottom: 15px;
                    &.prod-price{
                        font-weight: bold;
                        text-align: right;
                        font-size: 16px;
                        span{
                            padding: 5px 10px;
                            background: #85cd7f;
                        }
                    }
                }
            }
        }
    }
}
.ap-header-intro{
    margin-top: 15px;
    h2{
    margin-bottom: 0;
    }
}
.ap-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    @media only screen and (max-width: 728px){
        // flex-direction: column-reverse;
        .apb{
            &.apb-left{
                width: 100% !important;
            }
            &.apb-right{
                width: 100% !important;
            }
        }
    }
    .apb{
        &.apb-left{
            width: 74%;
            margin-right: 1%;
        }
        &.apb-right{
            width: 25%;
        }
    }
    .apropos-body{
        background: white;
        .enseigne{
            width: 100%;
            margin-top: 15px;
            img{
                width: 100%;
                height: 75vh;
            }
        }
        .enseigne2{
            width: 100%;
            text-align: center;
            img{
                max-width: 500px;
                width: 100%;
                // height: 75vh;
            }
        }
        .ap-header{
            padding: 10px;
            h2{
                margin-bottom: 10px;
                text-shadow: 1px 1px white;
                color: $red;
            }
            p{
                margin-bottom: 0;
            }
        }
        .ap-band{
            width: 200px;
            height: 8px;
            background: $red;
            border-bottom: 3px solid $blue;
        }
        .ap-text{
            padding: 10px;
            .ap-nosservices{
                margin-left: 15px;
                li{
                    list-style: square;
                }
            }
        }
        .slogan{
            display: none;
        }
    }
    aside{
        background: white;
        padding: 10px;
        .sticky-content{
            position: sticky;
            top: 0;
            .ap-annonce{
                padding: 20px;
                text-align: center;
                background: $col2 url("/images/patterns/trait.png");
                color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
                svg{
                    display: block;
                    font-size: 2em;
                    margin: 0 auto;
                    color: $col1;
                    margin-bottom: 10px;
                }
                a{
                    display: block;
                    margin: 10px auto 0;
                    border: none;
                    color: white;
                    background: $col1;
                    cursor: pointer;
                    display: block;
                    border-radius: 5px;
                    padding: 3px;
                }
            }
            .ap-presentation{
                padding: 10px;
                display: flex;
                align-items: center;
                color: white;
                background: $col1;
                margin: 20px 0;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
                svg{
                    margin-right: 5px;
                }
            }
        }
    }
}
.presentation-page{
    .ap-header{
        h2{
            color: $col1 !important;
        }
        p{
            color: $col2;
        }
    }
}
.ap-mvv-wrapper{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 10px;
    .mvv{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            z-index: 1;
        }
        .mvv-inner{
            padding: 10px;
            min-height: 250px;
            height: 100%;
            position: relative;
            border-radius: 10px;
            z-index: 2;
        }
        // .mvv-title{
        //     // width: 35%;
        // }
        // .mvv-content{

        // }
        .mvv-separator{
            // width: 100px;
            height: 10px;
            display: block;
            margin: 10px -10px;
        }
    }
    .mvv-vision{
        .mvv-inner{
            background: #88D9E6;
        }
        &::before{
            background: #5fc2d2;
        }
        .mvv-title {
            color: white;
            text-shadow: 1px 1px #5fc2d2;
            font-size: 2em;
        }
        .mvv-separator{
            background: #5fc2d2;
        }
    }
    .mvv-mission{
        &::before{
            background: #90c8da;
        }
        .mvv-inner{
            background: lightblue;
        }
        .mvv-title {
            color: white;
            text-shadow: 1px 1px #90c8da;
            font-size: 2em;
        }
        .mvv-separator{
            background: #90c8da;
        }
    }
    .mvv-valeurs{
        .mvv-inner{
            background: #88D9E6;
        }
        &::before{
            background: #5fc2d2;
        }
        .mvv-title {
            color: white;
            text-shadow: 1px 1px #5fc2d2;
            font-size: 2em;
        }
        .mvv-separator{
            background: #5fc2d2;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    border-radius: 50%;
                }
            }
        }
        
    }
}
.ap-team{
    margin: 15px 0;
    background: white;
    padding: 10px;
    .hp-team{
        padding: 20px 0 !important;
        background: url("/images/patterns/trait.png");
    }
    .ti-team-text p{
        display: none;
    }
    .ti-img-offset {
        height: 75px !important;
    }
    .ti-team-text h4 {
        font-size: 0.8em !important;
    }
    .ti-team-text h5 {
        font-size: 0.7em !important;
    }
    // .hp-team .hp-team-grid{
    //     flex-wrap: nowrap !important;
    //     overflow-x: auto;
    // }
    .team-item{
        width: 210px;
    }
}

.expertise-page{
    .exp-item{
        display: flex;
        margin: 15px 10px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        @media only screen and (max-width: 614px) {
            flex-wrap: wrap;
            .exp-img{
                width: 100% !important;
            }
        }
        .exp-img{
            width: 40%;
            border: 2px double $col2;
            border-radius: 10px;
            max-height: 250px;
            min-width: 250px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .exp-text{
            padding: 15px 10px;
            .exp-title{
                color: $col1;
                font-weight: bold;
            }
            .exp-content{
                ul{
                    padding-left: 15px;
                    li{
                        display: flex;
                        // align-items: center;
                        font-size: 0.9em;
                        img{
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
.domaines-page{
    .ap-wrapper {
        min-height: 90vh;
    }
    .dom-header{
        padding: 15px 10px;
        color: $col1;
        font-weight: bold;
    }

    ul{
        padding-left: 25px;
        li{
            display: flex;
            // align-items: center;
            font-size: 0.9em;
            margin-bottom: 10px;
            img{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
}
.exp-separator{
    width: 200px;
    height: 5px;
    margin: 10px 0;
    border-top: 5px solid $col2;
    border-bottom: 5px solid $col1;
    display: block;
    border-radius: 10px;
}

.experts-page{
    .ap-header-img {
        padding: 10px;
    }
    .ap-header-intro {
        padding: 10px;
        p{
            margin-bottom: 0;
        } 
    }
    .exp-item{
        display: flex;
        margin: 15px 10px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background: rgba(191, 203, 218, 0.18);
        transition: all 0.3s;
        @media only screen and (max-width: 614px) {
            flex-wrap: wrap;
            .exp-img{
                width: 100% !important;
            }
        }
        // &.showMore{
        //     // .showMore-btn{
        //     //     display: none;
        //     // }
        // }
        .showMore-btn{
            font-style: italic;
            font-size: 0.8em;
            color: $col1;
            cursor: pointer;
        }
        .exp-img{
            position: relative;
            width: 40%;
            // border: 2px double $col2;
            border-radius: 10px;
            max-height: 250px;
            min-width: 250px;
            overflow: hidden;
            text-align: center;
            padding: 10px;
            img{
                width: 100px;
                height: 100px;
            }
            .filigrane{
                margin: 0px auto;
                width: 25px;
                height: 25px;
                display: block;
            }
            h2{
                color: $col1;
                font-size: 0.9em;
                margin-bottom: 0;
            }
        }
        .exp-text{
            padding: 15px 10px;
            border-left: 5px solid $col1;
            background: white;
            h2{
                color: $col1;
                font-weight: bold;
                font-size: 1em;
                margin-bottom: 10px;
            }
            h3{
                color: #bfcbda;
                font-size: 0.9em;
                margin-bottom: 5px;
                font-style: italic;
            }
            .exp-separator{
                width: 85px;
                height: 5px;
                margin: 10px 0;
                border-top: 5px solid $col2;
                border-bottom: 5px solid $col1;
                display: block;
                border-radius: 10px;
            }
            .exp-content{
                transition: all 0.3s;
                ul{
                    transition: all 0.3s;
                    li{
                        font-size: 0.9em;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.product-page{
    .nos-services-banner{
        height: 185px;
        position: relative;
        width: 100vw;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.33);;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .nsb-text{
            position: absolute; 
            top: 50%;
            left: 0;
            width: 100%;
            h2{
                margin-bottom: 10px;
                text-shadow: 1px 1px white;
                color: $red;
            }
            p{
                margin: 0;
                color: white;
            }
        }
    }
    .separator-band{
        margin: 10px 0 ;
        height: 10px;
        border-top: 3px solid $yellow1;
        border-bottom: 3px solid $green1;
    }
    .product-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 20px;
        @media only screen and (max-width: 728px){
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            .sp-product{
                .sp-img{
                    height: 200px !important;
                }
            }
        }
        .sp-product{
            box-shadow: 0 0 10px rgba(158, 158, 158, 0.28);
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            background: white;
            &:hover{
                .spt-right {
                    height: 100% !important;
                    opacity: 1 !important;
                    transition: all 0.5s;
                }
            }
            .sp-img{
                height: 210px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    // border-radius: 10px;
                }
                &:after, &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    height: 5px;
                    width: 50%;
                }
                &:before {
                    left: 50%;
                    background: $blue;
                }
                &:after {
                    right: 50%;
                    background: $red;
                }
            }
            .spt-flip {
                padding: 5px 10px;
                background: linear-gradient(45deg, $blue, $red);
                color: white;
                width: 100px;
                text-align: center;
                font-size: 15px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
            }
            .spt-icon {
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 45px;
                height: 45px;
            }
            .spt{
                &.spt-left {
                    padding: 10px;
                    background: #ece2e2f2;
                    .spt-flip{

                    }
                }
                &.spt-right {
                    position: absolute;
                    bottom: 0;
                    // top: 0px;
                    height: 0;
                    opacity: 0;
                    width: 100%;
                    background: linear-gradient(to bottom, $blue, $red);
                    color: white;
                    padding: 10px;
                    transition: all 0.3s;
                    h4{

                    }
                }
            }
        }
    }
}

.contact-page{
    .ap-wrapper{
        padding: 10px;
        background: white;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        @media only screen and (max-width:612px) {
            .ct-text{
                margin-left: -50% !important;
            }
        }
        .ct-left-img{
            background: $col2 url("/images/patterns/trait.png");
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
            img{
                opacity: 0;
            }
        }
        .ct-text{
            max-width: 372px;
            background: rgba(240, 248, 255, 0.9);
            padding: 20px 10px;
            height: 100%;
            margin-left: -73px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
            border-radius: 10px;
            .ct-text-header{
                margin-bottom: 15px;
                h3{
                    color: $col1;
                    border-bottom: 2px solid $col1;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                p{
                    margin-bottom: 2px;
                    span{
                        font-style: italic;
                        font-weight: bold;
                    }
                }
                
            }
        }
    }
}

.bienfaits-page{
    .product-header{
        text-align: center;
        padding: 10px 0 30px;
        max-width: 550px;
        margin: 0 auto;
        h1{
            font-size: 24px;
            margin-bottom: 0;
            // text-shadow: 1px 1px $green1;
        }
    }
    .separator-band{
        margin: 10px 0 ;
        height: 10px;
        border-top: 3px solid $yellow1;
        border-bottom: 3px solid $green1;
    }
    .product-grid{
        .sp-product{
            margin-bottom: 20px;
            display: flex;
            background: #dcdcdc3b;
            box-shadow: 0 5px 0 #0000003d;
            border-radius: 10px;
            @media only screen and (max-width: 728px) {
                flex-direction: column;
                .sp-img{
                    width: 100% !important;
                }
                .sp-text{
                    width: 100% !important;
                }
            }
            .sp-img{
                width: 35%;
                img{
                    width: 100%;
                    max-height: 250px;
                }
            }
            .sp-text{
                width: 65%;
                padding: 10px 10px 10px 15px;
                h4{
                    span{

                    }
                }
                p{

                }
                .btn{
                    text-align: right;
                    button{
                        text-align: center;
                        padding: 0 10px;
                        border-radius: 20px;
                        font-size: 16px;
                        background: linear-gradient(45deg, #fcb713, #94ce75);
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    
}


