@import "variables.scss";
body{
    background: #f4f6f7;
}
header{
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1000;
}
.topBar{
    background: darken($col1, 20%);
    align-items: center;
    // padding: 10px 0;
    border-bottom: 2px solid $yellow1;
    width: 100%;
    // position: fixed;
    // top: 0;
    height: 20px;
    .toggler-bar{
        position: absolute;
        color: white;
        bottom: -15px;
        right: 15px;
        height: 15px;
        background: $yellow1;
        cursor: pointer;
    }
    .top{
        height: 0;
        overflow: hidden;
        transition: all 0.25s;
    }
    &.showTopbar{
        .top{
            height: auto;
            transition: all 0.25s;
        }
    }
    ul{
        display: flex;
        // flex-direction: column;
        li{
            padding: 0 5px;
        }
        .tph-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-size: 15px;
            svg{
                font-size: 1em;
            }
            a{
                display: flex;
                // flex-direction: column;
                align-items: center;
                color: white;
                svg{
                    font-size: 1em;
                    margin-right: 5px;
                }
            }
        }
    }
    .ft-socials{
        padding: 1px !important;
        li{
            margin-right: 0 !important;
            a{
                font-size: 1.2em;
                padding: 4px 3px 0;
                svg{
                    padding: 3px !important;
                }
            }
        }
    }
}
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomBar{
    // background: rgba(113, 190, 68, 0.73);
    background: white;
    align-items: center;
    // padding: 5px 0;
    // margin-top: 32px;
    img{
        height: 100px;
        width: 100px;
    }
    .navProd{
        padding: 0 5px; 
        // border-right: 3px solid #1514140a;
        // border-left: 3px solid #1514140a;
    }
}
.navbar-accueil{
    .navbar-accueil-logo{
        text-align: center;
        padding: 20px;
        background: url(/images/patterns/old_wall.jpg);
        box-shadow: inset 0 0 20px #0000001f;
        img{
            width: auto;
            height: 100px;
        }
        p{
            margin-bottom: 0;
        }
    }
    .topRight {
        display: none;
    }
    .navbar-accueil-navigation{
        background: $col2;
    }
    .topLeft {
        width: 100%;
        ul{
            width: 100%;
            li{
                margin-right: 2px;
                width: 20%;
                text-align: center;
                justify-content: center;
                letter-spacing: 1px;
                &.active{
                    .hsub-title, a{
                        color: white !important;
                        border-bottom: 5px solid white;
                    }
                }
                .hsub-title, a{
                    padding: 10px;
                    color: white !important;
                    display: block;
                }
            }
        }
    }
}
.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // @media only screen and (max-width: 512px) {
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
    img{
        width: 80px;
        height: 60px;
    }
}
.topRight {
    min-width: 40px;
}
.topLeft {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 512px) {
        ul{
            flex-wrap: wrap;
            justify-content: flex-end;
            li{
                font-size: 15px !important;
                margin-bottom: 5px;
                a{
                    font-size: 15px !important;
                }
                // &.navProd{
                    
                // }
                &.contact{
                    padding: 0 5px !important;
                    margin-top: 10px;
                }
            }
        }
    }
    a{
        display: flex;
        align-items: center;
        list-style: none;
        color: rgb(247, 243, 243) !important;
        text-decoration: none;
        svg{
            margin-right: 5px;
        }
    }
    ul {
        display: flex;
        height: 100%;
        li{
            font-size: 15px;
            margin-right: 10px;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            &.active{
                // border-bottom: 2px solid $green1;
                font-weight: bold;
                color: $col1 !important;
                a{
                    color: $col1 !important;
                }
            }
            &:hover{
                .subnav{
                    max-height: 1000px !important;
                    transition: all 0.3s;
                    a{
                        padding: 5px;
                        border-bottom: 1px dashed #6dadd4;
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
            }
            .hsub-title{
                font-size: 18px;
                // padding: 5px;
                display: block;
            }
            .subnav {
                position: absolute;
                top: 100%;
                left: 50%;
                max-height: 0;
                transform: translateX(-50%);
                background: $col1;
                transition: all 0.3s;
                overflow: hidden;
                z-index: 100; 
                width: 150px;
                a{
                    padding: 5px;
                    font-size: 15px;
                    display: block;
                    color: white !important;
                    border-bottom: 1px dashed #6dadd4;
                    &:last-child{
                        border-bottom: none;
                    }
                    &:hover{
                        background: $col2;
                    }
                }
            }
            // &.contact{
            //     background: $red;
            //     padding: 0 10px;
            //     margin-right: 0;
            //     border-radius: 5px;
            //     box-shadow: 0 5px 10px rgba(0,0,0,0.3);
            //     text-shadow: 1px 1px 5px black;
            //     color: rgb(247, 243, 243) !important;
            //     cursor: pointer;
            //     a{
            //         color: white !important;
            //     }
            // }

        }
    }
    &.navigation{
        a{
            font-size: 18px;
            color: rgb(26, 25, 25) !important;
        }
    }
}

@media only screen and (max-width: 712px){
    .bottomBar{
        .navigation{
            display: none;
        }
    }
    .collapse-nav{
        display: flex !important;
        align-items: center;
        font-size: 1.5em;
        padding: 3px;
    }
}

.collapse-contacts{
    display: none;
    border-top: 1px dashed gainsboro;
    padding: 15px 0;
    margin-top: 10px;
    text-align: center;
    .collapse-nav-contacts{
        .ft-tel{
            li{
                margin-bottom: 10px;
            }
        }
        // .ft-socials{

        // }
    }
}
.collapse-nav{
    display: none;
}
.collapse-navbar{
    &.showNav{
        width: 290px !important;
        transition: all 0.3s;
        .collapse-nav{
            display: none !important;
        }
        .collapse-contacts{
            display: block !important;
        }
    }
    position: fixed;
    top: 0;
    background: #f9f9f9;
    right: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s;
    box-shadow: -3px 0 #00000066;
    z-index: 1110;
    .top, .navigation {
        display: block !important;
    }
    .topRight{
        text-align: center;
        padding-top: 25px;
    }
    .close-menu{
        float: left;
        padding: 10px;
        font-size: 1.2em;
    }
    .topLeft ul {
        display: block !important;
        li{
            margin-right: 0;
            display: block;
            border-bottom: 1px dotted gainsboro;
            &:last-child{
                border-bottom: none;
            }
            a{
                display: block !important;
                padding: 5px;
            }
        }
        .subnav{
            position: relative;
            // margin-left: 10px;
            transform: translateX(-80%);
            a{
                padding: 5px;
                margin-bottom: 5px;
                // background: #efecec;
                border-left: 3px solid rgba(128, 128, 128, 0.29);
            }
        }
    }
}


.price{
    padding: 5px 10px;
    background: $green1;
    color: white;
}
@media only screen and (max-width: 728px){
    .heroText{
        display: none !important;
    }
    .btn-mobile{
        display: block !important;
    }
}
.btn-mobile{
    position: absolute;
    bottom: 0;
    right: 0; 
    display: none;
    button{
        padding: 5px 15px;
    }
}
.btn-contact{
    button{
        background: $yellow1;
        border: none;
        border-radius: 5px;
        color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-weight: bold;
        padding: 5px 10px;
        cursor: pointer;
        a{
            color: white !important;
        }
    }
}

.page-header{
    position: relative;
    width: 100vw;
    height: 210px;
    display: flex;
    align-items: center;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .ph-text{
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1072px;
        z-index: 3;
        ul{
            li{
                display: inline-flex;
                align-items: center;
                margin-right: 2px;
                font-size: 0.8em;
                color: whitesmoke;
                a{
                    color: whitesmoke;
                }
                svg{
                    font-size: 0.8em;
                }
            }
        }
        h1{
            font-size: 1.2em;
            margin-bottom: 5px;
            color: #e8e8e8;
        }
        p{
            font-size: 0.9em;
            font-style: italic;
            margin-bottom: 0;
            color: whitesmoke;
        }
    }
}

.hp-team{
    padding: 60px 0;
    background:  url("/images/patterns/old_wall.jpg");
    background-attachment: fixed;
    @media only screen and (max-width: 610px) {
        .team-item{
            max-width: none !important;
        }
    }
    @media only screen and (max-width: 940px) and (min-width: 755px) {
        .hp-team-grid{
            justify-content: space-around !important;
        }
        .team-item{
            max-width: 225px !important;
        }
    }
    .hp-team-inner{
        .hp-team-header{
            max-width: 500px;
            text-align: center;
            margin: 0 auto 20px;
            h3{
                margin-bottom: 8px;
                color: $col2;
            }
            h2{
                margin-bottom: 8px;
                color: $col1;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
    .hp-team-grid{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .team-item{
            margin: 10px;
            border: 2px solid $col1;
            text-align: center;
            background:  #f4f6f7;
            box-shadow: 0 0 10Px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            max-width: 267px;
            .ti-img-offset{
                height: 110px;
                background: $col1  url("/images/patterns/trait.png");
                img{
                    width: 100%;
                    height: 110px;
                    opacity: 0.04;
                }
            }
            .ti-img{
                img{
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    margin-top: -45px;
                    border: 2px solid $col1;
                }
            }
            .ti-team-text{
                padding: 10px;
                h4{
                    font-size: 1em;
                    margin-bottom: 5px;
                    color: $col1;
                }
                h5{
                    font-size: 0.9em;
                    margin-bottom: 5px;
                    color: $col2;
                }
                p{
                    font-size: 0.8em;
                    margin-bottom: 0;
                    color: $col3;
                }
            }
        }
    }
    .btn-wrapper{
        text-align: center;
        padding: 20px 10px;
        .btn{
            padding: 7px 40px;
            border: 5px double;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
            background: $col1  url("/images/patterns/trait.png");
            &:hover{
                background: $col2;
            }
        }
    }
}
.hp-references{
    background: $col2;
    padding: 40px 0;
    // margin-bottom: 20px;
    @media only screen and (max-width: 841px) {
        .hpr{
            width: 100% !important;
        }
        .hp-ref-left{
            img{
                height: 250px;
                width: 100%;
            }
        }
        .hpr-inner{
            max-width: none !important; 
        }
    }
    .hp-ref-inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .hpr{
            width: 50%;

        }
        .hp-ref-left{
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                border: 5px solid $col2;
                display: block;
                border-radius: 10px;
                box-shadow: inset 0 0 13px, 0 0 8px;
            }
            img{
                display: block;
                border-radius: 10px;
            }
        }
        // .hp-ref-right{
        // }
        .hpr-inner{
            max-width: 500px;
            padding: 10px 25px;
        }
        .hpr-header{
            h2{
                margin-bottom: 10px;
                color: white;
            }
            .hp-separator{
                width: 100px;
                height: 5px;
                background: $col1;
                display: block;
            }
            p{
                color: white;
                margin-bottom: 15px;
                strong{
                    color: white;
                }
            }
        }
        h3{
            color: white;
            span{
                border-bottom: 5px solid $col1;
            }
        }
        .hp-ref-grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
            grid-gap: 10px;
            .ref-item{
                // margin: 10px;
                text-align: center;
                // width: 120px;
                .ti-img{    
                    height: 80px;
                    width: 100px;
                    margin: 0 auto;
                    padding: 3px;
                    background: white;
                    border-radius: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                p {
                    margin-bottom: 0;
                    font-size: 0.9em;
                    color: white;
                    line-height: 120%;
                }
            }
        }
    }
}
footer{
    background: white  url("/images/footer_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(243, 244, 245, 0.95);
    }
    @media only screen and (max-width: 628px) {
        .ft-footer{
            flex-wrap: wrap;
            justify-content: center !important;
            .ft-right{
                text-align: center;
            }
        }
    }
    .ft-footer{
        display: flex;
        justify-content: space-between;
        padding: 60px 0 20px;
        position: relative;
        z-index: 2;
    }
    .ft-left{
        max-width: 220px;
        text-align: center;
        img{
            width: 180px;

        }
        // p{

        // }
    }
    .ft-right{
        h4{
            color: $col1;
            font-size: 1.2em;
            margin-bottom: 20px;
            span{
                border-bottom: 5px solid $col2;
            }
        }
        .ft-contact{

            ul{
                li{
                    span{
    
                    }
                    a{
                        color: $col2;
                    }
                }
            }
        }
    }
    .ft-copy{
        text-align: center;
        padding: 5px;
        color: white;
        font-size: 14px;
        background: $col2;
        position: relative;
        z-index: 2;
    }
}
.ft-socials{
    padding: 15px 0;
    ul{
        display: inline-flex;
        li{
            margin-right: 10px;
            a{
                color: white;
                background: $col1;
                font-size: 1.5em;
                border-radius: 50%;
                padding: 5px 5px 0;
                transition: all 0.3s;
                svg{
                    padding: 5px;
                }
                &:hover{
                    transition: all 0.3s;
                    background: $col2;
                }
            }
        }
    }
}
.socials{
    display: flex;
    align-items: center;
    .socialLi{
        border-radius: 50%;
        margin: 2px;
        list-style: none;
        font-size: 12px;
        transition: all 0.25s;
        &:hover{
            transform: scale(1.2);
            transition: all 0.25s;
        }
        .soc-link{
            color: white;
            display: block;
            padding: 5px 5px 3px 5px;
            line-height: 100%;
        }
    }
}

.ProdModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: all 0.25s;
    animation: animModal 0.25s linear;
    @media only screen and (max-width: 712px){
        .mod-content{
            flex-direction: column;

            .mod-price{
                font-size: 14px !important;
                padding: 5px !important; 
            }
            .mod-img{
                .modi-wrapper{
                    height: 165px !important;
                }
            }
            .mod-side{
                width: 100% !important; 
            }
            .mod-left {
                // grid-template-rows: 50px 1fr 80px !important;
            }
            .mod-right {
                box-shadow: inset 0 7px 5px rgba(0, 0, 0, 0.29);
            }
        }
    }
    .mod-overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.66);
        z-index: 1;
    }
    .mod-close{
        padding: 10px;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 0px;
        cursor: pointer;
        // color: white;
    }
    .mod-content{
        position: relative;
        background: white;
        margin: 10vh auto;
        width: 500px;
        min-width: 80vw;
        height: 80vh;
        z-index: 2;

        display: flex;
        // max-width: 410px;
        .mod-side{
            width: 50%;
            &.mod-left{
                // display: grid;
                // grid-template-rows: 50px 1fr 100px;
                // h4{
                //     font-size: 18px;
                //     margin-bottom: 10px;
                //     padding: 10px;
                //     .mod-price{
                //         font-size: 16px;
                //         float: right;
                //         padding: 5px 10px;
                //         background: lighten($green1, 15%);
                //     }
                // }
                padding: 10px;
                .mod-img{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // .modi-wrapper{
                    //     width: 200px;
                    //     height: 200px;
                    //     overflow: hidden;
                    //     .modi-slides{
                    //         display: inline-flex;
                    //         transition: transform 0.25s;
                    //         .img-slide{
                    //             width: 200px;
                    //             height: 200px;
                    //             img{
                                    
                    //             }
                    //         }
                    //     }
                    // }
                    img{
                        width: 100%;
                    }
                }
                // .mod-dots{
                //     display: inline-flex;
                //     justify-content: center;
                //     padding: 20px;
                //     .dot{
                //         padding: 5px 10px;
                //         margin: 5px;
                //         height: 36px;
                //         border-radius: 50%;
                //         box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                //         background: gainsboro;
                //         transition: transform 0.25s;
                //         cursor: pointer;
                //         &:hover{
                //             transform: scale(1.2);
                //             transition: transform 0.25s;
                //         }
                //         &.active{
                //             background: $green1;
                //         }
                //     }
                // }
            }
            &.mod-right{
                position: relative;
                padding: 20px 30px;
                background: lighten($green1, 15%);
                overflow-y: auto;
                h3{
                    position: relative;
                    &:after{
                        content: "";
                        position: relative;
                        display: block;
                        left: 0;
                        top: 10px;
                        height: 5px;
                        width: 150px;
                        background: $yellow1;
                        border-bottom: 3px solid $green1;
                    }
                }
                h6{
                    margin-bottom: 0;
                }
                p{
                    font-size: 14px;
                }
                .source{
                    text-align: right;
                    font-size: 14px;
                    font-style: italic;
                    span{
                        text-decoration: underline;
                        margin-right: 5px;
                    }
                    a{
                        color: black;
                    }
                }
            }

        }
    }
}


.contact-form{
    position: relative;
    z-index: 10000;
    ul{
        display: flex;
        // flex-direction: column;
        li{
            padding: 0 5px;
        }
        .tph-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-size: 15px;
            svg{
                font-size: 1.5em;
            }
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                svg{
                    font-size: 1.5em;
                }
            }
        }
    }
    .cf-content {
        min-width: 70%;
        // height: 95vh;
        background: white;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.44);
    }
    .cf-header{
        padding: 10px;
        background: $blue;
    }
    .cf-body{
        padding-top: 20px;
        padding: 10px;
        position: relative;
        .btn-fermer{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 10px;
            color: white;
            background: $red;
            font-size: 15px;
            cursor: pointer;
        }
        .cfb-header {
            text-align: center;
            font-size: 1.4em;
            padding: 10px;
            margin-bottom: 25px;
            color: $blue;
            span{
                border-bottom: 2px solid $blue;
            }
        }
        .cfb-form{
            .form-control{
                margin-bottom: 15px;
                label{
                    display: block;
                }
                textarea, input{
                    width: 100%;
                    border: 1px solid gainsboro;
                    padding: 5px;
                    border-radius: 5px;
                }
                // textarea{
                //     width: 100%;
                // }
            }
        }
    }
    .btn-submit{
        text-align: center;
        padding: 10px;
        button{
            border: none;
            padding: 5px 15px;
            color: white;
            background: $blue;
            cursor: pointer;
        }
    }
    .slogan-modal{
        cursor: auto !important;
    }
}

.hp-apropos{
    .slogan-modal{
        .hp-video{
            display: none;
        }
        &.showModal{
            .hp-video{
                display: block;
            }
        }
    }
}

.slogan-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    &.showModal{
        opacity: 1;
        transform: scale(1) !important;
        transition: all 0.3s;
        z-index: 1000;
    }
    .close-modal{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
    }
    img{

    }

    .galerie-wrapper{
        display: grid;
        grid-template-rows: 1fr 70px;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        .galerie-active-img{
            max-width: 80vw;
            margin: 0 auto;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            img{
                max-height: 100%;
            }
        }
        .galerie-thumbs{
            position: relative;
            z-index: 2;
            ul{
                display: flex;
                justify-content: center;
                max-width: 400px;
                margin: 0 auto;
                background: #a5150b;
                padding: 5px 0;
                li{
                    margin: 0 5px;
                    img{
                        width: 45px;
                        height: 45px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.slogan{
    margin: 20px auto;
    width: 135px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    border: 3px double $green1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    position: relative;
    img{
        width: 100%;
        height: 140px;
    }
    .slogan-agrandir{
        background: $green1;
        margin-top: -6px;
        line-height: 120%;
        span{
            color: white;
            font-size: 13px;
        }
    }
}

@keyframes animModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}